/* reset rules */
* {
  box-sizing: border-box;
}
/* general rules */

body {
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.05);
  text-align: center;
}
a {
  text-decoration: none;

  color: rgba(0, 0, 0, 0.75);
}
a:hover {
  color: rgba(0, 0, 0, 0.5);
}
h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.75);
}
section {
  margin: 2em 1em;
}
.student-name {
  text-align: left;
  padding-left: 0.5em;
}
/* header rules */
header {
  margin: 0 0 2em 0;
}
header a {
  font-size: 1.25em;
  font-weight: bold;
  display: block;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.25em;
  text-transform: uppercase;
}

section p {
  margin: 2em;
}

footer {
  border-top: 2px solid #fff;
  padding-top: 2em;
}

/* portfolio rules */
#portfolio {
  background: rgb(253, 253, 253);
  padding-top: 0.5em;
  margin: 0.25em;
}
#portfolio img {
  margin: 1em 0;
  width: 100%;
}
#portfolio p {
  margin: 1em;
}
.pfwrapper {
  margin: 1em auto;
  width: 90%;
}

/* contact rules */
#contact {
  padding: 2em;
}
#contact a {
  display: block;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.25em;
}

/* footer rules */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a {
  /* font-size: 1.25em; */
  font-weight: bold;
  display: block;
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.25em;
  text-transform: uppercase;
}

.large-display {
  display: none;
}

/* Tablet media query*/
@media (min-width: 48em) {
  header nav {
    display: flex;
    justify-content: center;
  }
  header a {
    padding: 0 2em;
  }

  #profile-bio {
    display: flex;
    /* flex-wrap: wrap; */
  }
  #profile-bio div {
    /* align-self: center; */
    order: 1;
  }
  #profile-bio img {
    order: 2;
  }

  .pfwrapper {
    margin: 1em;
    flex-basis: calc(50% - 2em);
  }
  main div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .back-to-top {
    display: none;
  }
  .large-display {
    display: inline;
  }
  #contact {
    text-align: center;
    width: 90%;
  }
  #contact div {
    margin: 0 auto;
    width: 50%;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr max-content;
  }
  footer h2 {
    margin-left: 1em;
    text-align: left;
  }
}
/* Desktop media query */
@media (min-width: 64em) {
  header {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
  }

  #portfolio .pfwrapper {
    flex-basis: calc(33% - 1.79em);
    align-self: baseline;
  }
}
